@charset "UTF-8";
/*IMPORTANDO ÁS FONTES*/
@font-face {
  font-family: "Cossette Titre";
  src: url(assets/fontes/Cal_Sans/CalSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "Oswald";
    src: url(assets/fontes/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
:root{
  --font: "Cossette Titre", "Arial", "Helvetica", sans-serif;
  --font1: "Oswald", "Arial", "Helvetica", sans-serif;
  --cor1: #121212;
  --cor2: #0d0d0d;
  --cor3: #ffffff;
  --cor4: #ffffffcb;
  --cor5: #878383;
  --cor6: #B0B0B0;
  --cor8: #1a1a1a;
  --cor9: #808080;
  --button: #007bff;
  --contact: #1e1e1e;
  --iconefundo: #1e1e1e;
  --linkprojeto: #555;
  --linkprojetohover: #777;
  --projeto: #383636;
  --inputs: #ccc;
  --linkein: hsl(210, 90%, 40%);
  --whatszapp: hsl(145, 71%, 44%);
  --html5: #e34f26;
    --css: #264de4;
    --js: #f0db4f;
    --php: #787cb5;
    --python: #306998;
    --java: #ff0000;
    --react: #61dbfb;
    --nodejs: #68a063;
    --git: #f34f29;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font);
  background-color: var(--cor1);
  color: var(--cor3);
}

/*Seção Header*/
.header{
    background-color: var(--cor2);
    padding: 20px 0;
    text-align: center;
}
.header h1{
    font-size: 2.5em;
}
.container-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-list{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.nav-list li{
    list-style-type: none;
    font-size: 1.5em;
}
.nav-list > li > a{
    text-decoration: none;
    color: var(--cor3);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.nav-list > li > a:hover{
    background-color: var(--cor9);
    text-decoration: underline;
    padding: 10px;
    border-radius: 10px;
    color: var(--cor3);
    transform: scale(1.1);
}
/*Efeito de Animação*/
.box{
    background-color: var(--cor6);
    padding: 2px;
    margin-top: 20px;
    border-radius: 5px;
    animation: stretch 2s ease-in-out infinite;
    transform-origin: center;
}
/*Responsividade do Menu*/
#button{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: none;
    
}
#button:hover{
    background-color: var(--cor7);
    padding: 10px;
    border-radius: 10px;
}
@media (max-width: 870px) {
    .container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-list {
        display: none; 
        flex-direction: column;
        align-items: flex-start; 
        gap: 12px;
        background-color: var(--header);
        padding: 15px;
        border-radius: 8px;
        width: 220px; 
    }
    .nav-list.active {
        display: flex; 
    }
    #button {
        display: block;
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        margin: 20px auto;
    }
    .menu-mobile-link {
        background-color: var(--cor5);
        padding: 12px 18px;
        border-radius: 6px;
        width: 100%; /* Ocupa toda a largura do container */
        color: var(--cor1);
        font-weight: 500;
        transition: background-color 0.3s ease-in-out;
        text-align: left;
    }
    .menu-mobile-link:hover {
        background-color: var(--cor4);
    }
}

/*Pagina com os conteúdos*/
.container-main {
    background-color: var(--cor8);
    margin: 20px auto;
    border-radius: 10px;
    padding: 35px 20px;
    font-family: var(--font1);
    max-width: 1100px; 
}

/* Título */
.container-main h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Texto do sobre mim */
.container-main > .aboutMe > p {
    text-indent: 20px;
    text-align: justify; 
    line-height: 1.6;  
}

/* Linha com texto + imagem */
.sameRow {
    display: flex;
    align-items: center;       
    justify-content: space-between;
    gap: 30px;                 
}
.paragraphs p{
    margin-bottom: 10px;
}
/* Imagem */
.myImg {
    width: 220px;
    height: 220px;
    border-radius: 10px;  
    object-fit: cover;
    box-shadow: 0 6px 15px 10px rgba(0, 0, 0, 0.76);
    flex-shrink: 0;      /* impede a imagem de "espremer" */
    animation: aparecerZoom 1.5s ease-in-out infinite;
}
@keyframes aparecerZoom{
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
/* Responsividade do Sobre Mim*/
@media (max-width: 850px) {
    .sameRow {
        flex-direction: column;
        text-align: center;  
    }

    .sameRow > .myImg {
        margin-top: 20px;
        width: 180px;
        height: 180px;
    }

    .container-main > .aboutMe > p {
        text-align: left;  
        text-indent: 0;    
    }
}

/*Technology and skills*/
.skills-list{
    padding: 5px;
    list-style-type: none;
}
.skills-list > li::before{
    content: "➔";
}

/*Footer*/
.footer-container{
    background-color: var(--cor2);
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
}
.icones-github{
    font-size: 2.5em;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
.icones-github:hover{
    transform: scale(1.1);
}
.icones-linkedin{
    font-size: 2.5em;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--linkein);
    transition: 0.7s ease-in-out;
}
.icones-linkedin:hover{
    transform: scale(1.1);
}
.icones-whatszapp{
    font-size: 2.5em;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--whatszapp);
    transition: 0.7s ease-in-out;
}
.icones-whatszapp:hover{
    transform: scale(1.1);
}
.icones-instagram{
    font-size: 2.5em;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
.icones-instagram:hover{
    transform: scale(1.1);
}
.footer-container p{
    margin-top: 10px;
}
.footer-container a{
    text-decoration: none;
    color: var(--cor3);
}
.footer-container a:hover{
    text-decoration: underline;
    color: var(--cor3);
}
/*Menu de Idiomas*/
.select-language{
    display: flex;
    justify-content: flex-start;
}
.select-language > select{
    background-color: var(--cor2);
    color: var(--cor3);
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
   margin-left: 10px;
}
#direitosLicenca{
    margin-top: -10px;
}
/*footer responsivo*/
@media (max-width: 600px) {
    .icones-github, .icones-linkedin, .icones-whatszapp, .icones-instagram {
        font-size: 2em;
    }
    .container_responsivo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container_responsivo  > .select-language{
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
/*Contato*/
.contact h1{
  text-align: center;
  margin-bottom: 20px;
}
.contact{
    background: var(--contact); /* fundo diferente do body */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin-top: 30px;
}
form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--inputs);
  font-family: var(--font1);
}
textarea{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--inputs);
    font-family: var(--font1);
}

input:focus, textarea:focus {
  border: 2px solid #00aaff;
  box-shadow: 0 0 5px #00aaff;
}

button {
  padding: 10px;
  background-color: var(--button);
  border-radius: 5px;
  color: var(--cor3);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: var(--font1);
  margin-bottom: 30px;
}

button:hover {
  background-color: #0056b3;
}
/*Educação*/
.education ul{
    padding: 15px;
}

/* Estilos da Seção de Projetos */
#projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.projeto {
    background-color: var(--projeto);
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.projeto:hover {
    transform: translateY(-10px);
}

.projeto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.projeto h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.projeto p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
}

.links-projeto a {
    background-color: var(--linkprojeto);
    color: var(--cor3);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.links-projeto a:hover {
    background-color: var(--linkprojetohover);
    text-decoration: underline;
}
.projetos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
/*Icones de Tecnologia*/
.languageProgramming{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.icon{
    background-color: var(--iconefundo);
    padding: 20px;
    border-radius: 5px;
    font-size: 3em;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.icon:hover{
    background-color: var(--cor5);
    transform: scale(1.1);
    transition: transform 0.8s ease;
}
.icon img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#html5{
    color: var(--html5);
}
#css{
    color: var(--css);
}
#js{
    color: var(--js);
}
#php{
    color: var(--php);
}
#python{
    color: var(--python);
}
#java{
    color: var(--java);
}
#react{
    color: var(--react);
}
#nodejs{
    color: var(--nodejs);
}
#git{
    color: var(--git);
}